{% extends 'patitasYCompania/base.html' %}

{% block title %}Productos{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Productos</h2>

    {% if user.is_authenticated and user.is_staff %}
    <a href="{% url 'product_create' %}" class="btn btn-success mb-4">Agregar Producto</a>
    {% endif %}

    <div class="row" id="productos">
        {% for product in products %}
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mb-4 w-100">
                <img src="{{ product.foto.url }}" class="card-img-top" alt="{{ product.nombre }}">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">{{ product.nombre }}</h5>
                    <p class="card-text text-center mt-3 flex-grow-1" style="max-height: 100px; overflow: hidden;">
                        {{ product.descripcion|truncatewords:20 }}
                    </p>
                    <p class="card-text text-center mt-3"><strong>Precio:</strong> ${{ product.precio }}</p>
                    <div class="d-flex justify-content-center mt-3">
                        <a href="{% url 'product_detail' product.id %}" class="btn btn-primary me-2">Ver más</a>
                        {% if user.is_authenticated and user.is_staff %}
                        <a href="{% url 'product_update' product.id %}" class="btn btn-warning me-2">Editar</a>
                        <form method="post" action="{% url 'product_delete' product.id %}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
